<div class="bg-gradient-to-b from-indigo-600 to-gray-100 h-screen w-screen p-8 justify-center items-center flex">
  <div class="lg:w-full rounded-2xl bg-white shadow p-8 flex flex-col min-h-128 min-w-80 max-w-80">
    <div class="h-full">
      <p class="text-indigo-600 opacity-50 text-base font-semibold font-['Inter']">
        Q<%="#{@question.number}"%> of <%="#{@num_questions}"%>
      </p>
    </div>
    <div class="pt-4">
      <p class="text-indigo-600 text-base font-semibold font-['Inter']">
        <%= @question.title %>
      </p>
    </div>
    <div class="pt-8">
      <% if @question.type == 'EmailQuestion'%>
        <%= render "email_answer"%>
      <%elsif @question.type == 'MultipleChoiceQuestion'%>
        <%= render "multiple_choice_question"%>
      <%elsif @question.type == 'DescriptionQuestion'%>
        <%= render "description_answer"%>
      <%end%>
    </div>
  </div>
</div>